# Clustering Neighborhoods in Toronto 1

In [66]:
import pandas as pd
#import requests
#from bs4 import BeautifulSoup

Get Neighborhood data from wikipedia, extract the required section and display the columns.

In [67]:
wiki_df= pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
wiki_df
df_sub=wiki_df[0]
df_sub.columns

Index(['Postcode', 'Borough', 'Neighborhood'], dtype='object')

Create a new dataframe with Boroughs that dont contain the value "Not assigned". Then display the unique Boroughs to confirm.

In [68]:
df_sub1=df_sub[df_sub['Borough']!="Not assigned"]
df_sub1['Borough'].unique()

array(['North York', 'Downtown Toronto', "Queen's Park", 'Scarborough',
       'East York', 'Etobicoke', 'York', 'East Toronto', 'West Toronto',
       'Central Toronto', 'Mississauga'], dtype=object)

Display the dataframe

In [69]:
df_sub1

    Postcode           Borough              Neighborhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

Restore default index

In [70]:
df_sub1.reset_index(inplace=True)
df_sub1

     index Postcode           Borough              Neighborhood
0        2      M3A        North York                 Parkwoods
1        3      M4A        North York          Victoria Village
2        4      M5A  Downtown Toronto              Harbourfront
3        5      M6A        North York          Lawrence Heights
4        6      M6A        North York            Lawrence Manor
..     ...      ...               ...                       ...
205    281      M8Z         Etobicoke  Kingsway Park South West
206    282      M8Z         Etobicoke                 Mimico NW
207    283      M8Z         Etobicoke        The Queensway West
208    284      M8Z         Etobicoke     Royal York South West
209    285      M8Z         Etobicoke            South of Bloor

[210 rows x 4 columns]

Check if there are any empty values in the dataframe

In [7]:
df_sub1.isnull().sum()

index           0
Postcode        0
Borough         0
Neighborhood    0
dtype: int64

In [8]:
df_sub1['Postcode'].unique()

array(['M3A', 'M4A', 'M5A', 'M6A', 'M7A', 'M9A', 'M1B', 'M3B', 'M4B',
       'M5B', 'M6B', 'M9B', 'M1C', 'M3C', 'M4C', 'M5C', 'M6C', 'M9C',
       'M1E', 'M4E', 'M5E', 'M6E', 'M1G', 'M4G', 'M5G', 'M6G', 'M1H',
       'M2H', 'M3H', 'M4H', 'M5H', 'M6H', 'M1J', 'M2J', 'M3J', 'M4J',
       'M5J', 'M6J', 'M1K', 'M2K', 'M3K', 'M4K', 'M5K', 'M6K', 'M1L',
       'M2L', 'M3L', 'M4L', 'M5L', 'M6L', 'M9L', 'M1M', 'M2M', 'M3M',
       'M4M', 'M5M', 'M6M', 'M9M', 'M1N', 'M2N', 'M3N', 'M4N', 'M5N',
       'M6N', 'M9N', 'M1P', 'M2P', 'M4P', 'M5P', 'M6P', 'M9P', 'M1R',
       'M2R', 'M4R', 'M5R', 'M6R', 'M7R', 'M9R', 'M1S', 'M4S', 'M5S',
       'M6S', 'M1T', 'M4T', 'M5T', 'M1V', 'M4V', 'M5V', 'M8V', 'M9V',
       'M1W', 'M4W', 'M5W', 'M8W', 'M9W', 'M1X', 'M4X', 'M5X', 'M8X',
       'M4Y', 'M7Y', 'M8Y', 'M8Z'], dtype=object)

Remove duplicate entries of Postcode by grouping and joining the Neigborhood values into one row,, separated by commas.

In [71]:
#dup=pd.DataFrame(df_sub1.groupby(['Postcode','Borough'])['Neighborhood'].agg(sum() if x.dtype=='float64' else ' '.join(x)
dup=df_sub1.groupby(['Postcode','Borough'],as_index=False)['Neighborhood'].agg(lambda x : x.sum() if x.dtype=='float64' else ', '.join(x))    
dup

    Postcode      Borough                                       Neighborhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

Display which neighborhood  has "Not assigned"

In [72]:
dup[dup['Neighborhood']=="Not assigned"]

   Postcode       Borough  Neighborhood
93      M9A  Queen's Park  Not assigned

Run through dataframe looking for neighborhoods with not assigned and replace with Borough value in such case.

In [75]:
for a in range(0,len(dup)-1):
    for i in dup['Neighborhood']:
        if i=="Not assigned":
            dup.iloc[a,2]=dup.iloc[a,1]

Verify that not assinged was changed to borough value

In [76]:
dup[dup['Neighborhood']=="Queen's Park"]

   Postcode       Borough  Neighborhood
93      M9A  Queen's Park  Queen's Park

Display the sape of the dataframe.

In [77]:
dup.shape

(103, 3)